@import "tailwindcss";
@custom-variant dark (&:where(.dark, .dark *));

@font-face {
  font-family: "IBMPlexMono";
  src: url("@ibm/plex-mono/fonts/complete/woff2/IBMPlexMono-Regular.woff2")
    format("truetype");
  font-weight: normal;
  font-style: normal;
}

/*antd的样式*/

.ant-menu.ant-menu-root.ant-menu-inline {
  border-inline-end: none !important;
}
